

body {
   background-image: url("../img/Fondo.jpg");
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   font-family:  sans-serif;
}

.contenedor .form .form-header .form-title {
	font-weight: normal;
	font-family: sans-serif;
	color: #ff851b;
	text-align: center;
	padding: 14px 0;
}
.contenedor .form .form-header .form-title span {
	color: #fff;
}


.contenedor .form {
  background: rgba(0,0,0,.6);
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 50px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 13px;
}
.contenedor .form .form-label {
	display: block;
	color: #ff581b;
	font-size: 16px;
	font-family: relative;
}
.contenedor .form .form-input {
	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	border-bottom: 2px solid #ff851b;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-size: 14px;
        color: #fff;
	font-family: Roboto;
}
.contenedor .form .btn-submit {
	width: 100%;
        border-radius: 10px;
	font-family: Roboto;
	outline: none;
	background: #ff851b;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 15px 0;
	cursor: pointer;
	transition: all .5s ease;
}
.contenedor .form .btn-submit:hover {
	background: #000000;
        border: 1.5px solid white;
        
        
}

/*header*/
header {
	width:105%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:black;
	margin-bottom:20px;
        height: 100px;
}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:100px;
	float:left;
}
 
header nav {
	float:right;
	line-height:100px;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

.login{
    
    background-color: transparent;
    float: right;
    padding-bottom: 15px;
    padding-top: 10px;
    color: white;
    
    
    
}

.login a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.login a:hover{
        
        background:#f56f3a;
	border-radius:20px;
}

/*error*/
.error{
    color: white;
    font-size: 20px;
}

/*datosusuario*/
.datousuario{
    color: #f56f3a;
    border: 1px solid #fff;
    border-radius: 10px; 
    width: 250px;
    font-size: 30px;
    background-color: #1B1B1B;
    
    
}

.datousuario h1{
    display: inline;
    margin-top:10px; 
}

.datousuario span{
    
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 34px;
    
}
.datousuario .cerrar{
        width: 70%;
        border-radius: 10px;
	font-family: Roboto;
	outline: none;
	background: #ff851b;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
        margin-left: 35px;
        margin-bottom: 10px;
	
    
}

.datousuario .cerrar:hover{
    background: #000000;
    border: 1.5px solid white;
    
}