*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.theme-mi-slider .nivoSlider {
	position:relative;
	
}
.theme-mi-slider .nivoSlider a {
	border:0px;
	display:block;
}
.nivo-controlNav{
	display:flex;
	justify-content: center;
	
}
.theme-mi-slider  .nivo-control {
	display:block;
	width:18px;
	height:18px;
	border-radius: 50%;
	background:#545454;
	margin: 3px;
	text-indent: -9999px;
}
.nivo-controlNav{
	display:flex;
	justify-content: center;
}
.theme-mi-slider .nivoSlider .nivo-control:hover {
	background: #1B1B1B;
}
.theme-mi-slider .active{
	background: #1B1B1B;
	
}
.nivo-directionNav a{
	display:block;
	width:35px;
	height:35px;
}
.nivo-directionNav .nivo-prevNav{
	background-image: url(../img/icons/circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left:6px;
	
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../img/icons/circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right:6px;
}
.nivo-html-caption {
	position:absolute;

}